//*****************************************************
//*   Variables
//*****************************************************



//*Colors
$primary-color:#242424;
$secondary-color:#ff652f;
$text-color:#eee;

//*Font 

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//* Path Variables

$main-bgImg-path: '../../assets/harry.jpg';